<h1>Rock Paper Scissors</h1>
<h3>Please give the play for both players or click <a href="/singleplayer">here</a> for a singleplayer-game.</h3>
<form action="/score">

  <div class="form-group">
     <label for="player1">The first players game </label>

     <input id="player1" name="player1" class="form-control" type="text">
  </div>

  <div class="form-group">
     <label for="player2">The second players game </label>

     <input id="player2" name="player2" class="form-control" type="text">
  </div>

  <button type="submit" class="btn-success">Lets Play!</button>

</form>
