<h1>Rock Paper Scissors</h1>
<h3>Wellcome to the single-player Game!!!</h3>
<form action="/singlescore">

  <div class="form-group">
     <label for="player1">Your Game: </label>

     <input id="player1" name="player1" class="form-control" type="text">
  </div>

  <button type="submit" class="btn-success">Lets Play!</button>

</form>
